.containter{
    background-color: lightyellow;
    border: 10px dotted violet;
    width: 50%;
}

p{
    font-size: 3rem;
    font-weight: bold;
    color: green;
    border: 2px solid darkgrey;
}

ul li{
    background-color: blue;
    
}